@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">TechChallenge 2 WebApp GitHubActions - Blog de Notícias</h1>
    <p>Código fonte do Projeto no <a target="_blank" href="https://github.com/gabrielthinassi/TechChallengeTwo/tree/master">GitHub</a>.</p>
</div>
